html {
    font-family: Dejavu Sans;
    font-size: 16pt;
}

body {
    margin: 0px;
    padding: 1rem;

    background-color: #222;
    color: #eee;
}

hr {
    border: none;
    border-top: solid 2px #eee;
}

a:visited {
    color: #7422ff;
}
a {
    color: #ff6600;
    text-decoration: none;
}
a:hover {
    color: #33efcf;
}

.hide-link {
    color: inherit;
    text-decoration: inherit;
}
.hide-link:hover {
    color: inherit;
    text-decoration: inherit;
}
.hide-link:visited {
    color: inherit;
    text-decoration: inherit;
}

.header {
    padding: 0px 1rem;
    display: flex;
    justify-content: space-between;

    font-size: 1.6rem;
}

.header-links {
    flex-grow: 1;
    align-self: flex-end;

    display: flex;
    font-size: 1rem;
}
.header-links a {
    margin-right: 1rem;
}

.footer {
    font-size: 0.6rem;
    font-family: monospace;
    text-align: center;
}

.title {
    font-weight: bold;
    font-size: 1.15rem;
}

.section {
    font-weight: bold;
}

.code {
    background-color: #111;
    color: #eee;
    font-family: monospace;
    padding: 0px 0.2rem;
}
.code-flex {
    display: flex;
}

#content-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 1rem 0px;
}

#content {
    flex-grow: 1;
    margin: 0px min(max(calc((100vw - 1000px) * 0.5), 0px), 15vw);
    padding: 1rem;
    background-color: #333;
}
