html {
    font-size: 18pt;
}

body {
    margin: 0px;
    padding: 1rem;

    background-color: #222;
    color: #eee;
}

.header {
    font-size: 1.6rem;
    text-align: right;
    padding-right: 1rem;
}

.footer {
    font-size: 0.6rem;
    font-family: monospace;
    text-align: center;
}

hr {
    border: none;
    border-top: solid 2px #eee;
}

a:visited {
    color: #7422ff;
}
a {
    color: #ff6600;
}
a:hover {
    color: #33efcf;
}

.title {
    font-weight: bold;
    font-size: 1.15rem;
}

.section {
    font-weight: bold;
}

#content-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 1rem 0px;
}

#content {
    flex-grow: 1;
    margin: 0px min(max(calc((100vw - 1000px) * 0.5), 0px), 15vw);
    padding: 1rem;
    background-color: #333;
}
